.title-1 {
  font-size: 4.5rem;
  font-weight: 700;
  color: #F5F5F5;
}

.title-2 {
  font-size: 4rem;
  font-weight: 700;
  color: #F5F5F5;
  line-height: 100%;
}

.title-3 {
  font-size: 1.9rem;
  font-weight: 700;
  color: #425844;
}
.title-3_white {
  color: #F5F5F5;
}
.title-3_primary {
  color: #61A568;
}

.title-4 {
  font-weight: 300;
  font-size: 1.9rem;
  text-transform: uppercase;
  color: #61A568;
}

.features__text {
  font-size: 1.6rem;
  font-weight: 400;
  color: #425844;
  line-height: 113%;
}

.content p {
  font-weight: 300;
  font-size: 1.6rem;
  color: #F5F5F5;
}

.margin-bottom-30px {
  margin-bottom: 3rem;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #F5F5F5;
  background: #F5F5F5;
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end] minmax(6rem, 1fr) [section-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [section-end] minmax(6rem, 1fr) [full-end];
}

.sidebar {
  background: #425844;
  grid-area: 1/sidebar-start/-1/sidebar-end;
}

.header {
  background: #101D2C;
  grid-area: 1/sidebar-end/2/col-end 6;
}

.gamers {
  background: #101D2C;
  grid-area: 1/col-start 7/2/full-end;
}

.features {
  padding: 15rem 0;
  background: #F5F5F5;
  grid-area: 2/col-start 1/3/col-end 8;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 3rem 4rem;
  align-items: flex-start;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1.5rem 2.5rem;
}
.feature__icon {
  font-size: 4.5rem;
  grid-row: 1/span 2;
  transform: translateY(-1rem);
}

.banner-img {
  background: #101D2C;
  grid-area: 3/sidebar-end/4/col-end 4;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(24, 1fr);
  background: url("img/background.png") center/cover no-repeat;
}
.banner-img__img-1 {
  width: 100%;
  grid-area: 3/3/12/15;
}
.banner-img__img-2 {
  width: 100%;
  grid-area: 10/5/23/-1;
  transform: translateX(3.5rem);
}
.banner-text {
  background: #101D2C;
  grid-area: 3/col-start 5/4/full-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 4vw;
}
.banner-text__text {
  margin-bottom: 4rem;
}

.btn {
  font-weight: 700;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #F5F5F5;
  background: #61A568;
  padding: 1.5rem 3rem;
  cursor: pointer;
  outline: none;
  border: none;
}
.btn:hover {
  background: #425844;
}

.cards {
  background: #F5F5F5;
  grid-area: 4/col-start 1/5/col-end 8;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 4rem 6rem;
  margin-top: 15rem;
  margin-bottom: 15rem;
}

.card {
  background: #101D2C;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.card__img {
  width: 100%;
  grid-column: 1/-1;
}
.card__icon {
  font-size: 2rem;
}
.card__title {
  font-weight: 700;
  font-size: 1.6rem;
  color: #F5F5F5;
  padding: 1.5rem;
  text-align: center;
  width: 80%;
  background: #425844;
  grid-column: 1/-1;
  justify-self: center;
  transform: translateY(-50%);
}
.card__btn {
  grid-column: 1/-1;
}
.card__icon {
  margin-right: 1rem;
}

.content {
  display: flex;
  margin-left: 2rem;
  margin-bottom: 3rem;
}

.gallery {
  background: #101D2C;
  grid-area: 5/sidebar-end/6/full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  gap: 1.5rem;
  padding: 1.5rem;
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery__item-1 {
  grid-area: 1/1/3/3;
}
.gallery__item-2 {
  grid-area: 1/3/4/6;
}
.gallery__item-3 {
  grid-area: 1/6/3/7;
}
.gallery__item-4 {
  grid-area: 1/-1/3/-3;
}
.gallery__item-5 {
  grid-area: 3/1/6/3;
}
.gallery__item-6 {
  grid-area: 4/3/6/5;
}
.gallery__item-7 {
  grid-area: 4/5/5/6;
}
.gallery__item-8 {
  grid-area: 3/6/5/-2;
}
.gallery__item-9 {
  grid-area: 3/-2/6/-1;
}
.gallery__item-10 {
  grid-area: -1/1/-3/2;
}
.gallery__item-11 {
  grid-area: -3/4/-1/5;
}
.gallery__item-12 {
  grid-area: -4/5/-1/8;
}
.gallery__item-13 {
  grid-area: -3/-2/-1/-1;
}
.gallery__item-14 {
  grid-area: -3/2/-1/4;
}

.footer {
  background: #101D2C;
  grid-area: -2/sidebar-end/-1/full-end;
  padding: 8rem 3rem;
  border-top: solid 0.3rem #F5F5F5;
}

.nav__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  justify-items: center;
  gap: 3rem;
}
.nav__item {
  list-style: none;
}
.nav__link:link, .nav__link:visited {
  text-decoration: none;
  font-weight: 300;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  color: #F5F5F5;
  display: inline-block;
  transition: 0.3s all;
}
.nav__link:hover, .nav__link:active {
  color: #AAAAAA;
  transform: translateY(-0.3rem);
}

.logo {
  display: block;
  margin-bottom: 8rem;
}
.logo__img {
  display: block;
  margin: 0 auto;
  width: 12rem;
  height: 4rem;
}

/*# sourceMappingURL=style.css.map */
